<%= form_for @grant, :html => {:multipart => true}  do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :tasks, @grant.tasks.build do |t| %>
    <div class="field">
      <%= t.label :description %><br />
      <%= t.text_field :description %>
    </div>
    <div class="field">
      <%= t.label :due_date %><br />
      <%= t.text_field :due_date %>
    </div>
    <div class="field">
      <%= t.label :name %><br />
      <%= t.text_field :name %>
    </div>
    

    <p><%= t.file_field :image %></p>

  <% end %>
  
  <p><%= f.submit "Save" %></p>

<% end %>

