<p>
  <b>Description:</b>
  <%= @task.description %>
  <%= image_tag @task.image_url.to_s %>
</p>

<p>
  <b>Due date:</b>
  <%= if @task.due then @task.due_date else "None" end %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
  

<p>
  <% if @task.user %>
    <b>Assigned to:</b> <%= @task.user.name %>
  <% else %>
    <b>Assigned to:</b> No one
  <% end %>
</p>

<%= form_tag({action: 'assign', controller: 'tasks'}, method: :put) do %>
  <%= collection_select(:task, :user_id, @users, :id, :name) %>
  <%= submit_tag "Assign Task" %> 
<% end %>
<%= link_to 'Edit', edit_task_path(@task.id) %>
