<% if @users.count == 0 %>
<p> Currently you have zero members.</p>
<%else %>

<ul>
  <% @users.each do |user| %>
  
    <li>
       <%= user.email %> 
         <span id="image-show"><%= link_to 'Show', user %></span>  
        <span id ="image-edit"> <%= link_to 'Edit', edit_user_path(user) %></span>
        <span id="image-destory"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </li>
 </ul>
  <% end %>
<% end %>


<%= link_to 'New User', new_user_path %>
