<p>
  <b>Name:</b> <%= @user.name %><br />
  <b>Email:</b>  <%= @user.email %>
</p>

<h4>Assigned tasks:</h4>

<% @user.tasks.each do |task| %>
  <%= task.id %>: <%= task.name %><br />
<% end %>

<% if current_user.admin && @org.tasks != nil%>
<%= render 'admin_user_form' %> 
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', dashboard_path %>
