<h2>ADMIN DASH</h2>

<h3>All Users</h3>

<ul>
  <% @org.users.each do |user| %>
    <%= content_tag_for :li, user do %>
      <%= link_to user.name, user_path(user.id)%>
    <% end %>
  <% end %>
</ul>

<h3>All Grants</h3>
 
 <ul>
   <% @org.grants.each do |grant| %>
     <%= content_tag_for :li, grant do %>
       <%= link_to grant.name, grant_path(grant.id) %> 
     <% end %>
   <% end %>
 </ul>

<h3>All Tasks</h3>

 <ul>
   <% @org.tasks.each do |task| %>
     <%= content_tag_for :li, task do %>
       <%= link_to task.name, task_path(task.id)%>, Due: <%= if task.due then task.due.strftime("%m/%d/%Y") else "None" end %>
     <% end %>
   <% end %>
 </ul>

<%= link_to "Add New User to #{@org.name}", org_user_path %> <br />

<%= link_to "New Grant", new_grant_path %> | <%= link_to 'Edit', edit_org_path %>