<!DOCTYPE html>
<html>
  <head>
    <title>Grant Tracker</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Raleway:500' rel='stylesheet' type='text/css'>
  </head>
  <body>
<div class="container">
  <header>
    <h1 class="header-title">Grant Tracker</h1>
    
    <nav>
      <ul class="header-nav-ul">
        <% if current_user %>
          <li class="header-nav-link"><%= link_to "Dashboard", dashboard_path %></li>
          <li class="header-nav-link"><%= link_to "Logout", :logout, method: :post %></li>
        <% else %>

          <li class="header-nav-link"><%= link_to "Home", root_path %></li>
          <li class="header-nav-link"><%= link_to "Login", :login %></li>

        <% end %>
      </ul>
    </nav>
  </header>
  
  <div class="main">
 
   <div class="flash">
     <p id="notice"><%= flash[:notice] %></p>
     <p id="alert"><%= flash[:alert] %></p>
   </div>
 
    <%= yield %>
  
  </div>
  
</div>



  </body>
</html>
